body{
  background: red;
  color: blue;
}
.navbar-img {
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
  height: auto; 
  width: auto; 
  max-width: 30px; 
  max-height: 30px; 
}
.profile-pic{
  max-width: 200px; 
  max-height: 200px; 
}