{% extends 'final_project/layout.html' %}
    {% block title %}
        Home
    {% endblock %}

    {% block content %}
        <h1>Home</h1>
        <h3>Today Matches</h3>
            {% if matches_today %}
                {{matches_today}}
            {% else %}
                <p>No matches today</p>
            {% endif %}
        <h3>All Matches</h3>
        
            {% for match in matches %}
            <div>
                <h5>{{match.local_img}} {{match.local}} x {{match.visitor}}{{match.visitor_img}}</h5>
                <small>{{match.place}}, on {{match.date}}</small>
            </div>
            {% endfor %}
    
    {% endblock %}
