{% extends 'final_project/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

    {% block content %}
        <div class='content-section'>
            <form method='POST'>
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class='border-bottom md-4'>Login</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class='form-group'>
                    <button class='btn' type='submit'>Login</button>
                </div>
            </form>
            <div class='border-top pt-3'>
                <small class='text-muted'>
                    <a href='{% url "register" %}'>Dont have a accont</a>
                </small>
            </div> 
        </div>
    {% endblock %}