{% extends "finalproject/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 style="text-transform:capitalize;">{{user.username}}</h1>
    <small>Email: {{ user.email }}</small>
    <div>
        {% if user.profile.image.url %}
            <img src="{{ user.profile.image.url }}">
        {% else %}
            <img src='\media\profile_pics\default.jpg'>
        {% endif %}
        </div>
        <div>
            <form method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <fieldset>
                    <legend>Profile info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
{% endblock %}