{% extends "finalproject/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small>Alredy have an account?<a href="{% url 'login' %}">Sign in</a></small>
        </div>
    </div>
{% endblock %}